<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874981793699-3tlh8ti4mu5kao8buq6fnu0usc2donnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874981793699-3tlh8ti4mu5kao8buq6fnu0usc2donnu</string>
	<key>API_KEY</key>
	<string>AIzaSyAKxl3vr7KomU0dBb3pJNkiKEKGw1DTUsY</string>
	<key>GCM_SENDER_ID</key>
	<string>874981793699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.triskalion.decentproof.decentproof</string>
	<key>PROJECT_ID</key>
	<string>decentproof-66628</string>
	<key>STORAGE_BUCKET</key>
	<string>decentproof-66628.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874981793699:ios:bf3410f4138c5a59498416</string>
</dict>
</plist>